DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_NAME="Sahakar Karmakar"
AI_SERVICE_URL="http://127.0.0.1:8000"
NEXT_PUBLIC_SUPABASE_URL="https://zfhcsisbtrueedbrfdog.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpmaGNzaXNidHJ1ZWVkYnJmZG9nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwNTIzNzEsImV4cCI6MjEwMzYyODM3MX0.aTZbwcQ2obVrrD4r77LnTHcPLo1grhW81zjfkTAymss"
